:root {
  --background-color: aquamarine;
}

body {
  width: 100vw;
  height: 100vh;

  margin: 0;

  display: flex;

  justify-content: center;
  align-items: center;
}

* {
  box-sizing: border-box;
}

.container {
  width: 1000px;
  height: 500px;

  padding: 20px;

  display: flex;

  background-color: rgb(104, 104, 104);
}

.block {
  height: 100%;

  flex-grow: 1;
}

.block + .block {
  margin-left: 20px;
}

.block:nth-child(1) {
  background-color: var(--background-color);
}

.block:nth-child(2) {
  display: flex;

  flex-direction: column;
}

.block > :nth-child(n) {
  width: 100%;

  flex-grow: 1;

  background-color: var(--background-color);
}

.block > :nth-child(2) {
  display: flex;

  margin: 20px 0;
}

.block > :nth-child(2) > :nth-child(n) {
  height: 100%;

  flex-grow: 1;

  background-color: var(--background-color);
}

.block > :nth-child(2) > :nth-child(2) {
  margin-left: 20px;
}

.block > :nth-child(2) {
  background-color: transparent;
}
